{% extends "blog/base.html" %}
{% block mainblock %}

<style>
    .show-read-more .more-text{
        display: none;
    }


    .red{
        color: #ff0130;
    }

    .green{
        color: #0734ff;
    }

    #myBtn {
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: red;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
    }

    #myBtn2 {
        display: none;
        position: fixed;
        bottom: 80px;
        right: 31px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: green;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
    }

    #myBtn:hover {
        background-color: #555;
    }

</style>

<div style="margin-left:100px; margin-right:100px">
    <h3 class="h3_Body" style="margin-bottom: 25px;">Positive Reviews</h3>
    <a href="#neg">
    <button id="myBtn" title="Go to top">Neg</button></a>
    <button onclick="topFunction()" id="myBtn2" title="Go to top">Top</button>
    
    {% for post in dizi %}
            <article class="media content-section" style="background-color: #D5F5C9; border: 3px solid green;margin-right: 10px;" >
            <p  class="article-content show-read-more"> {{ post }} </p>
        </article>

    {% endfor %}
        <a id="neg"></a>
    {% for ali in mizi %}
            <article class="media content-section" style="background-color: #FAA1B1; border: 3px solid red;margin-right: 10px;" >
            <p  class="article-content show-read-more"> {{ ali }} </p>
        </article>
    {% endfor %}
    <p id="demo1"> ...</p>

    </div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
    // var semih = {{ semih }};
    var semih = ['hotel', 'location', 'are', 'staff', 'very']
    var yunus = ['is', 'good']
    // var adjListStr = '{{adjListStr}}'.split('*-');
    var allAttributesStr = '{{allAttributesStr}}'.split('*-');
    var attributesStr = '{{attributesStr}}'.split('*-');

    $(document).ready(function(){
        var maxLength = 410;
        $(".show-read-more").each(function(){
            const words = $(this).text().split(' ');
            var myStr = "";
            words.forEach(word => {
                if(semih.find(sem => sem === word.toLocaleLowerCase() )){
                    myStr += `<span class="red">${word}</span> `
                } 
                else if(attributesStr.find(yun => yun === word.toLocaleLowerCase() )) {
                    myStr += `<span class="green">${word}</span> `
                }
                // else if(adjListStr.find(adj => adj === word.toLocaleLowerCase() )) {
                //     myStr += `<span class="green">${word}</span> `
                // }
                else{
                    myStr += word + ' ';
                }
            });

            if($.trim(myStr).length > maxLength){
                var newStr = myStr.substring(0, maxLength);
                var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                $(this).empty().html(newStr);
                $(this).append('<a href="javascript:void(0);" class="read-more">read more...</a>');
                $(this).append('<span class="more-text">' + removedStr + '</span>');
            }
            else{
                $(this).empty().html(myStr);
            }
        });
        $(".read-more").click(function(){
            $(this).siblings(".more-text").contents().unwrap();
            $(this).remove();
        });
    });

    var mybutton = document.getElementById("myBtn");
    var mybutton2 = document.getElementById("myBtn2");

    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton2.style.display = "block";
    } else {
        mybutton2.style.display = "none";
    }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>


<!-- 
<div style="margin-left:100px">
        <h3 class="h3_Body" style="margin-bottom: 25px;">Positive Reviews</h3>
        {% for post in dizi %}
                <article class="media content-section" style="background-color: #D5F5C9; border: 3px solid green;margin-right: 10px;" >
                <p  class="article-content"> {{ post }} </span></p>
            </article>
        {% endfor %}
        <p id="demo1">  aa  </p>
    </div>

    <script>
    </script> -->

{% endblock %}




